<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div id="login-form">
    <h2 class="container text-center mt-5">Login</h2>
    <form th:action="@{/login}" th:object="${data}" th:method="POST" class="container text-center mt-5">
        <label for="account">Account:</label>
        <input type="text" id="account" name="account" required="required"/>
        <br/>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required="required"/>
        <br/>
        <button class="btn btn-primary" type="submit">Login</button>
        <div th:if="${error}" class="error-message">
            <p>Error Message</p>
        </div>
    </form>

    <form class="container text-center mt-5" th:action="@{/register/view}" method="get">
        <button class="btn btn-primary" type="submit">회원 가입</button>
    </form>
</div>
</body>
</html>
